body{
    margin: 0px;
    overflow: hidden;
}
.pater{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00c6cf;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: auto;
    flex-direction: column;
}

#container{
    display: grid;
    grid-template-columns: repeat(16, 40px);
    grid-template-rows: repeat(16, 40px);
    box-sizing: border-box;
    grid-gap: 1px;
    margin-bottom: 25px;
}

.grid{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 1px black;
}

.colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color{
    width: 40px;
    height: 40px;
    margin: 10px;
}
.color:hover{
    border: 3px solid brown;
}
#black{
    background-color: black;
}
#white{
    background-color: white;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}

.title{
    text-align: center;
    font-size: 25px;
    color: brown;
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    .pater{
        flex-direction: row;
    }
    #container{
        margin-right: 25px;
        margin-bottom: 0;
    }
    .color{
        width: 3vw;
        height: 5vh;
    }
}
